@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://cdn.jsdelivr.net/gh/iamludal/twemoji-awesome@master/twemoji-awesome.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .paw-icon {
    background-image: url("paw-solid.svg");
    background-size: 100%;
    width: 3rem;
    height: 3rem;
  }
}
